.header-section{
		height: 75px;
	}
	.head-icons{
		height: 25px;
	}
	.car-list{
		color: white;
	}
	.card-height{
		height: 350px;
	}
	.card-color{
		background-color: #cce0ff;
	}
	.margin{
		margin-left: 5%;
	}